<div class="az-footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://adamstephensen.com/">AdamStephensen.com</a></li>
      <li><a href="https://www.linkedin.com/in/adamstephensen/" target="_blank" >LinkedIn</a></li>
      <li><a href="https://twitter.com/AdamStephensen" target="_blank">@AdamStephensen</a></li>
      <li><a href="https://github.com/adamstephensen/" target="_blank">GitHub</a></li>      
    </ul>

    <ul class="muted-footer-links">
      <li>
        <small>&copy; Adam Stephensen</small>
      </li>      
    </ul>
  </div>
</div>
