<nav class="navbar navbar-dark navbar-fixed-top navbar-expand-sm az-navbar">
  <button class="navbar-toggler navbar-toggler-blue d-sm-none navbar-brand" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
    &#9776;
  </button>
  <div class="float-left d-none d-sm-block d-md-none az-icon-container navbar-brand"><a href="/" class="float-left"><img class="az-icon" src="/assets/images/a-letter-logo-png-4.png" alt="A Logo"></a><a class="nav-link float-left" id="aboutLink" href="/">Adam Stephensen</a></div>
  <div class="d-none d-md-block  navbar-brand"><a href="/" class="float-left" ><img class="az-logo" src="/assets/images/a-letter-logo-png-4.png" alt="A Logo"></a><a class="h3 nav-link float-left" id="aboutLink" href="/">Adam Stephensen</a></div>
  <div class="collapse navbar-collapse float-xs-right"  id="navbar-header">
    <ul class="nav navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" id="aboutLink" href="/about">About</a>
          </li>
      {% if site.posts.size > 0 %}
      <li class="nav-item">
        <a class="nav-link" id="blogLink" href="/blog">Blog</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" id="projectsLink" href="#" data-toggle="collapse" data-target="#projects-drop">Topics</a>
        <div >
          <ul id="projects-drop" class="nav flex-column collapse">
            <li><a class="nav-link" id="projectsclisLink" href="/tag/Azure">Azure</a></li>
            <li><a class="nav-link" id="projectssdksLink" href="/tag/Angular">Angular</a></li>
            <li><a class="nav-link" id="projectsapisLink" href="/tag/Agile">Agile / DevOps</a></li>
            <li><a class="nav-link" id="projectsapisLink" href="/tag/AI">AI / ML</a></li>            
            <li><a class="nav-link" id="projectsapisLink" href="/tag/.NET">.Net</a></li>            
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="guidelinesLink" href="/speaking">Speaking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="thanksLink" href="/tag/Videos">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/adamstephensen/faqs" target="_blank">Notes/Faqs</a>
      </li>
    </ul>
  </div>
</nav>

{% if include.type == "post" %}

{% if page.bigimg or page.title %}

{% if page.bigimg %}
<div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
     {% for bigimg in page.bigimg %}
     {% assign imgnum = forloop.index %}
     {% for imginfo in bigimg %}
     {% if imginfo[0] %}
     data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
     data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
     {% else %}
     data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
     {% endif %}
     {% endfor %}
     {% endfor %}
></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
  {% if page.bigimg %}
  <div class="big-img intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="{{ include.type }}-heading">
            <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
            {% if page.subtitle %}
            {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
            {% endif %}

            {% if page.author %}
            <span class="post-meta">Posted by {{page.author}} on {{ page.date | date: "%B %-d, %Y" }}</span>
            {% else %}
            <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <span class='img-desc'></span>
  </div>
  {% endif %}
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="{{ include.type }}-heading">
            <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
            {% if page.subtitle %}
            {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
            {% else %}
            <h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
            {% endif %}
            {% endif %}

            {% if page.author %}
            <span class="post-meta">Posted by {{page.author}} on {{ page.date | date: "%B %-d, %Y" }}</span>
            {% else %}
            <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
{% endif %}